# Google OAuth Client ID
# Create at: https://console.cloud.google.com/apis/credentials
# App type: Web application
# Authorised origins: http://localhost:3000
# Authorised redirect URIs: http://localhost:3000
REACT_APP_GOOGLE_CLIENT_ID=85700627088-ufqf86o63j3mlbqm54ot8fshcrbc193a.apps.googleusercontent.com

# Enable HTTPS for local development (optional)
HTTPS=true
